.container {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: -999;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 50%;
  height: 33vh;
  transition: 1s all ease;
}

.sub-item {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.color-marker {
  opacity: 0;
  transition: 1s all ease;
}

.anistep {
  path {
    fill: #bdb9df9a;
    transition: 1s all ease;
  }
  width: 80%;
  height: 80%;
}
