// .task {
//   display: block;
//   padding: 5px 0 11px 0;
// }
$dot-speed: 0.2s;

/* The container */
.container {
  display: inline-block;
  // display: block;
  // display: flex;
  position: relative;
  // height: 40px;
  // padding-left: 35px;
  padding: 7px 10px 7px 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #fff;
  border-radius: 10px;
}

// .container::after {
//   content: "";
//   width: 2px;
//   height: 2px;
//   display: block;
// }

.container-active {
  // background: $orange-backgr;
  background: linear-gradient(
    90deg,
    #f47521ee 0%,
    #f47521ee 50%,
    #f6991bee 100%
  );
  /* opacity: .8; */
  backdrop-filter: blur(2px);
}

.container-inactive {
  // $main-color-inactive: #ddd;
  background: repeating-linear-gradient(
    -45deg,
    transparent 0 9px,
    $main-color-inactive 9px 12px
  );
  outline: 1px solid $main-color-inactive;
  color: $main-color-inactive;
  backdrop-filter: blur(2px);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 12px;
  left: 10px;
  height: 10px;
  width: 10px;
  background-color: #ffffff00;
  border: 2px solid;
  border-radius: 10px;
  border-color: #ffffff00;
  // border-color: $main-color-inactive;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
  transition: background-color $dot-speed;
  // border-color: $main-color-inactive;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ffffff00;
  // border-color: $main-color-inactive;
}

.container:hover input:checked ~ .checkmark {
  background-color: #ffffff00;
  border-color: $main-color-inactive;
  transition: border-color $dot-speed;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 68, 0, 0);
  border: 3px solid white;
  border-radius: 13px;
}

.container input:checked ~ .checkmark:after {
  // background-color: #ffffff00;
  border-color: $main-color-inactive;
}
