// $main-orange: rgba(244, 117, 33, 1);
// $main-color-inactive: #ccc;
// $orange-backgr: linear-gradient(
//   90deg,
//   $main-orange 0%,
//   $main-orange 51%,
//   rgba(246, 153, 27, 1) 100%
// );

@import "checkbox.scss";

h3 {
  margin-bottom: 10px;
}

// $primary-color: #444;
.button-choice {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #fff;
  color: #fff;
  //   background: rgb(238, 172, 77);
  background: $orange-backgr;
}

// .task-list {
//   margin-left: 50px;
// }

// @mixin button-description {
//   height: 40px;
//   padding: 7px 10px 7px 10px;
//   border-radius: 5px;
//   border: 1px solid;
//   // border-color: $main-orange;
//   // color: $main-orange;
//   background: #fff;
//   font-family: "ClassicFont", sans-serif;
//   font-size: 22px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   cursor: pointer;

//   .sign {
//     position: relative;
//     font-size: 60px;
//     line-height: 40%;
//   }
//   .descr {
//     display: none;
//     position: relative;
//     top: -12px;
//     padding-left: 10px;
//     font-size: 22px;
//   }

//   &:hover {
//     .descr {
//       display: inline;
//     }
//   }
// }

// .button-add {
//   @include button-description;
//   border-color: $main-orange;
//   color: $main-orange;
// }

.button-dec {
  @include button-description;
  border-color: $main-color-inactive;
  color: $main-color-inactive;
  .sign {
    position: relative;
    top: -5px;
  }
}

.popup {
  position: fixed;
  top: 30%;
  z-index: 20;
  width: 400px;
  height: 240px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  // border: 1px solid;
  border-radius: 10px;
  // border-color: $main-orange;
  .form-textinput {
    font-size: 22px;
    color: #444;
    border: 1px dashed;
    border-color: $main-orange;
  }
  .form-textinput:focus-within {
    border: 1px solid;
    border-color: $main-orange;
    outline: none;
  }
  .form-submit {
    @include button-description;
    border-color: $main-orange;
    color: $main-orange;
  }
  .form-closebutton {
    @include button-description;
    border-color: #888;
    color: #888;
  }
}

.popup-back {
  // content: "";
  // display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #44444470;
}

//ect from .less
$primary-color: #444;

body {
  // font-family: "HandWritten", sans-serif;
  font-family: "ClassicFont", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.1rem;

  color: $primary-color;
  // opacity: 0.8;
}

// .header {
//   color: $main-orange;
// }

#newTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  input {
    margin-top: 20px;
  }
  button {
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

#close-button {
  transform: translate(-50%, 0);
  margin-left: 50%;
}
