$main-orange: rgba(244, 117, 33, 1);
$main-color-inactive: #ccc;
$orange-backgr: linear-gradient(
  90deg,
  $main-orange 0%,
  $main-orange 50%,
  rgba(246, 153, 27, 1) 100%
);
$primary-color: #444;

@mixin button-description {
  height: 40px;
  // width: 46px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  border: 1px solid;
  // border-color: $main-orange;
  // color: $main-orange;
  background: #fff;
  font-family: "ClassicFont", sans-serif;
  font-size: 1.375rem;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  .sign {
    position: relative;
    font-size: 3rem;
    font-family: sans-serif;
    line-height: 55%;
  }
  .descr {
    display: none;
    position: relative;
    top: -12px;
    padding-left: 10px;
    font-size: 1.375rem;
    opacity: 0;
  }

  &:hover {
    // width: fit-content;
    @media (min-aspect-ratio: 1/1) {
      .descr {
        display: inline;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
}
