.container {
  position: fixed;
  width: 300px;
  height: 300px;
  right: 0;
  bottom: 0;
  z-index: -999;
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all ease;
}

.anistep {
  path {
    width: 300px;
    height: 300px;
    fill: #aaa;
    animation: color-me-in 4s infinite;
    transform-origin: bottom right;
  }
  width: 300px;
  height: 300px;
}

@keyframes color-me-in {
  0% {
    fill: #ccc;
    opacity: 0;
    transform: rotate(-30deg);
    margin-left: 0px;
  }

  25% {
    // fill: $main-orange;
    transform: rotate(0);
    margin-left: 30px;
  }
  35% {
    opacity: 1;
    // fill: $main-orange;
  }
  65% {
    // fill: $main-orange;
    opacity: 1;
  }
  75% {
    // fill: #ccc;

    transform: rotate(0);
    margin-left: 30px;
  }
  100% {
    opacity: 0;

    transform: rotate(30deg);
    margin-left: 60px;
  }
}
