.header {
  color: $main-orange;
  /*   backdrop-filter: blur(2px);
  background-color: #ffffffaa;
  box-shadow: 0px 0px 10px 10px #ffffffaa; */
}

.task-list {
  margin-left: 50px;
}

.task {
  display: block;
  // padding: 5px 0 11px 0;
}
